#calendar {
    width: 100%;
    border: solid;
    border-color: rgb(74, 74, 74);
}

div.pull-down-group {
    display: flex;
}

select {
    height: 40px;
    display: block;
    padding: 6px 8px;
    margin: 8px;
    text-indent: 0.01px;
    border: 1px solid #c9c9c9;
    color: #828c9a;
    border-radius: 3px;
    outline: none;
}

select option {
    background-color: #fff;
    color: #333;
}


.arrows {
    display: flex;
    justify-content: space-around;
    padding: 12px;

}

.arrow-btn {
    cursor: pointer;
    background: #ffffff;
    color: #828c9a;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.5rem 1rem;

}


#days-title {
    /* text-align: center; */
    font-size: 2rem;
    white-space: nowrap;
}


th.w0 {
    background-color: rgb(255, 139, 139);
}

th.w6 {
    background-color: rgb(114, 150, 248);
}

th {
    background-color: rgb(143, 194, 222);
}

#calendar>tbody>tr:nth-child(n)>td:nth-child(1) {
    background-color: rgb(255, 139, 139);
}

#calendar>tbody>tr:nth-child(n)>td:nth-child(7) {
    background-color: rgb(114, 150, 248);
}


.week_area td {
    background-color: rgb(241, 250, 250);
    height: 100px;
    width: calc(100% / 7);
    vertical-align: text-top;
    text-align: end;
}

td.before-month-date {
    color: rgb(95, 95, 95);
}

td.next-month-date {
    color: rgb(95, 95, 95);
}
